.center-text {
  text-align: center;
}

.App-header {
  background-color: #f0f0ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222233;
}

.App-link {
  color: #61dafb;
}
